SECRET_KEY=tu-clave-secreta
DEBUG=True
ENABLE_SSL_REDIRECT=False
DB_ENGINE=postgresql
DB_HOST=localhost
DB_PORT=5432
DB_NAME=consultorio_db
DB_USER=postgres
DB_PASSWORD=root
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:8080,http://127.0.0.1:8080
CSRF_TRUSTED_ORIGINS=http://localhost:8080,http://127.0.0.1:8080
BACKEND_URL=http://localhost:8000
FRONTEND_URL=http://localhost:8080
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL=no-reply@consultorio.local
EMAIL_VERIFICATION_TOKEN_MAX_AGE=86400
PASSWORD_RESET_TOKEN_MAX_AGE=1800
