SECRET_KEY=tu-clave-secreta
DEBUG=True
ENABLE_SSL_REDIRECT=False
USE_SQLITE=0
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/consultorio_db
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:8080,http://127.0.0.1:8080
BACKEND_URL=http://127.0.0.1:8000
FRONTEND_URL=http://127.0.0.1:8080

EMAIL_HOST_USER=kath22319@gmail.com
EMAIL_HOST_PASSWORD=Pozoldecacao123
DEFAULT_FROM_EMAIL=karlacarolinalopezruiz@gmail.com

RECAPTCHA_SITE_KEY=6Lf2a6YsAAAAAMblsNffyJjC61bVoCYTDKChbV94
RECAPTCHA_SECRET_KEY=6Lf2a6YsAAAAAMyhjDS_jjpFXcf7sSJbhaolxCA0
RECAPTCHA_TIMEOUT_SECONDS=10
EMAIL_VERIFICATION_TOKEN_MAX_AGE=86400
PASSWORD_RESET_TOKEN_MAX_AGE=1800
